body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: clamp(16px,8vw,48px);
  padding-bottom: 10px;
}
img {
    display: block;
    max-width: 100%;
    max-height: auto;
    margin: 0 auto;
    border-radius: 16px;
    border: 5px solid green;
}
audio {
 display: block;
 margin: 0 auto; 
 padding-top: 20px;

}


